<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <!-- Title -->
        <title>{{title}}</title>


        <!-- Favicon -->
        <link rel="icon" href="img/core-img/favicon.ico">

        <!-- Core Stylesheet -->
        <link href="style.css" rel="stylesheet">
        <!-- Responsive CSS -->
        <link href="css/responsive/responsive.css" rel="stylesheet">
        <!-- Cards Stylesheet -->
        <link href="styleCard.css" rel="stylesheet">
        <!-- Script Ajax -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

        <!-- mapa -->        
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCN4pKzD21uzA00fgxJhSW69koN9Jx7Qcs&callback=initMap"></script>
        <script src="/js/geolocalizacion.js"></script>      

    </head>



    <body>

        <!-- Preloader -->
        <div id="preloader">
            <div class="caviar-load"></div>
            <div class="preload-icons">
                <img class="preload-1" src="img/core-img/preload-1.png" alt="">
                <img class="preload-2" src="img/core-img/preload-2.png" alt="">
                <img class="preload-3" src="img/core-img/preload-3.png" alt="">
            </div>
        </div>
        <!-- Fin Preloader -->

        <!-- Buscar Dependencias Script -->

        <script>
$(document).ready(function () {
    $("#buscarDependencia").keyup(function () {
        var busqueda = $("#buscarDependencia").val();
        buscarDependencia(busqueda);
        //buscarPorCategoria(busqueda);
    });
    $("body").on("click", ".btn_ruta", function(){
        var lat = parseFloat($(this).attr('name').split('/')[0]);
        var lng = parseFloat($(this).attr('name').split('/')[1]);
        directionsService.route({
            origin: coordenadasmias,
            destination: {
                lat: lat,
                lng: lng
            },
            travelMode: 'DRIVING'
        }, function (response, status) {
            if (status === 'OK') {
                directionsDisplay.setDirections(response);
            } else {
                window.alert('Directions request failed due to ' + status);
            }
        });
    });
});
function buscarDependencia(busqueda) {
    $.ajax({
        url: '/admin_buscar_dependencias/' + busqueda,
        type: 'GET',
        dataType: 'json',
        success: function (data, textStatus, jqXHR) {
            var html = "";
            var puntos = [];
            for (var i = 0; i < data.length; i++) {
                //data[i].dependencia -> contiene la informacion de la dependencia
                //data[i].url -> contiene la direccion de la foto
                html += '<div class="media border border-secondary"  style="width: 400px; height: 200px; margin: 15px auto;">';
                if(data[i].url!=='')
                    html += '<img src="img/galeria/'+data[i].url+'" alt="Generic placeholder image" style="width: 150px; height: 150px;  margin: 15px;">';
                else
                    html += '<img src="img/galeria/fiavl2017_cpr_5716.jpg" alt="Generic placeholder image" style="width: 150px; height: 150px;  margin: 15px;">';
                html += '<div class="media-body" style="margin: 15px auto;">';
                html += '<h6>' + data[i].dependencia.nombre + '</h6>';
                html += '<small style="width: 187px; height: 80px;float:left; overflow: hidden;">' + data[i].dependencia.descripcion + '</small>';
                html += '<a href="#!" class="btn btn-primary btn_ruta" name="'+data[i].dependencia.latitud+'/'+data[i].dependencia.longitud+'">Ver ruta</a>';
                html += '<a href="/principal_usuario?id='+data[i].dependencia.id+'" style="margin-left: 10px;" class="btn btn-primary btn_info">Info</a>';
                html += '</div>';
                html += ' </div>';
                if (data[i].dependencia.latitud !== null && data[i].dependencia.longitud !== null) {
                puntos.push({"lng": data[i].dependencia.longitud, "lat": data[i].dependencia.latitud});                
                }
            }
            $("div#lugarBuscado").empty();
            $("div#lugarBuscado").html(html);
            //puntos.push({"lng": "-79.1996443", "lat": "-4.0310106999999995"});
            //puntos.push({"lng": "-79.20112487937621", "lat": "-4.030261539038454"});
            pintar(puntos);
        }, error: function (jqXHR, textStatus, errorThrown) {
        }
    });
}
        </script>

        <!-- Fin Buscar Dependencias Script -->


        <!-- ***** Header Area Start ***** -->
        <header class="header_area" id="header">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <nav class="h-100 navbar navbar-expand-lg align-items-center">
                            <input class="form-control col-lg-4" type="text"  id="buscarDependencia"  placeholder="¿Qué estás buscando?">
                            <div class="partials_search_suggestions_view" data-view="partials/search/suggestions" data-subid="">
                                <div class="caviar-search-btn">
                                    <a id="search-btn" href="#lugarBuscado"><i class="fa fa-search" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#caviarNav" aria-controls="caviarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
                            <div class="collapse navbar-collapse" id="caviarNav">
                                <ul class="navbar-nav ml-auto" id="caviarMenu">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categorias</a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            {{#each this.categoria as |item|}}
                                            <a class="dropdown-item" href="">{{item.nombre}}</a>                                     
                                            {{/each}}
                                        </div>
                                    </li>
                                    {{#if this.statusLogin}}
                                        <li class="nav-item">
                                            <a class="nav-link" href="/cerrar_sesion">Cerrar sesion</a>
                                        </li>
                                    {{else}}
                                        <li class="nav-item">
                                            <a class="nav-link" href="/iniciar_sesion">Ingresar</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/registrar">Registrate</a>
                                        </li>
                                    {{/if}}
                                </ul>
                                <!-- Search Btn -->

                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- ***** Header Area End ***** -->

        <!-- ****** Welcome Area Start ****** -->
        <section class="caviar-hero-area" id="home">
            <!-- Welcome Social Info -->
            <div class="welcome-social-info">
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
            <!-- Welcome Slides -->
            <div class="caviar-hero-slides owl-carousel">
                <!-- Single Slides -->
                <div class="single-hero-slides bg-img" style="background-image: url(https://www.festivaldeloja.com/wp-content/uploads/2017/09/plaza-san-francisco-1.jpg);">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <div class="col-11 col-md-6 col-lg-4">
                                <div class="hero-content">
                                     <h2>GeoLoja</h2>
                                    <p>Es un sistema que permite a los usuarios la búsqueda, localización y contacto de toda microempresa, macroempresa y lugar turístico de la ciudad de Loja.</p>                                
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Slider Nav -->

                </div>
                <!-- Single Slides -->
                <div class="single-hero-slides bg-img" style="background-image: url(https://galapagosecotours.com/wp-content/uploads/2015/11/loja_ecuador_011.jpg);">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <div class="col-11 col-md-6 col-lg-4">
                                <div class="hero-content">
                                    <h2>GeoLoja</h2>
                                    <p>Es un sistema que permite a los usuarios la búsqueda, localización y contacto de toda microempresa, macroempresa y lugar turístico de la ciudad de Loja.</p>                                
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Slider Nav -->

                </div>
            </div>
        </section>
        <!-- ****** Welcome Area End ****** -->
        
        <!-- ****** Tabla Dependencias Comienzo  ****** -->
        <section class=" d-md-flex align-items-center " >
            <div class="reservation-form-area d-flex justify-content-end" style=" float: left; overflow: scroll; height: 800px" >
                <div class=" reservation-form">
                    <div class="container" >
                        <div id="lugarBuscado" >
                            <img src="img/pusheen.gif" alt="" style="margin-top:50%;width:100%;x" >
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="caviar-map-area " id="map" style="height:800px; width: 1000px"></div>
        </section>
        <!-- ****** Tabla Dependencias Fin  ****** -->

        <!-- ***** Contact Area End ***** -->

        <!-- ****** Footer Area Start ****** -->
        <footer class="caviar-footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="footer-text">
                            <a href="#" class="navbar-brand">Geolocalizacion Loja</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            <p>GeoLoja;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with  by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- ****** Footer Area End ****** -->



        <!--JavaScript at end of body for optimized loading-->
        <!--<script type="text/javascript" src="js_m/materialize.min.js"></script>-->
        <!-- mapa-->

        <!-- Jquery-2.2.4 js -->
        <script src="js/jquery/jquery-2.2.4.min.js"></script>
        <!-- Popper js -->
        <script src="js/bootstrap/popper.min.js"></script>
        <!-- Bootstrap-4 js -->
        <script src="js/bootstrap/bootstrap.min.js"></script>
        <!-- All Plugins js -->
        <script src="js/others/plugins.js"></script>
        <!-- Active JS -->
        <script src="js/active.js"></script>
    </body>