<!-- ****** Inicio sesion ****** -->
<section class="caviar-reservation-area d-md-flex align-items-center" id="registro">
    <div class="reservation-form-area d-flex justify-content-end">
        <div class="reservation-form">
            <div class="section-heading">
                <h2>Registrate y busca de mejor manera</h2>
            </div>
            <form action="#">
                <div class="row">

                    <div class="col-12 col-lg-6">
                        <input type="text" class="form-control" placeholder="Ingresa tu correo">
                    </div>
                    <div class="col-12 col-lg-6">
                        <input type="text" class="form-control" placeholder="Ingresa tu clave">
                    </div>
                    <div class="col-12">
                        <textarea name="reservation-message" class="form-control" id="reservationMessage" cols="30" rows="10" placeholder="Your Message"></textarea>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn caviar-btn"><span></span> Ingresar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="reservation-side-thumb wow fadeInRightBig" data-wow-delay="0.5s">
        <img src="img/bg-img/hero-3.jpg" alt="">
    </div>
</section>
<!-- ****** Reservation Area End ****** -->
